/files/answer_sheets/
/files/answers_per_question/
/files/.ipynb_checkpoints/
/files/
files/raw_data_paper.xlsx
files/graphiken_fuer_paper.ipynb

/files/answers_per_question/
/files/answer_sheets/
/files/.ipynb_checkpoints/
